/* header */
.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  height: 65px;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #000;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 18px;
  font-weight: 600;
}

.header__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.header__menu-item {
  margin-right: 40px;
}

.header__menu-item:last-child {
  margin-right: 10px;
}

.header__menu-link {
  color: var(--link-color);
  letter-spacing: 0.1px;
  font-size: 12px;
  text-decoration: none;
  transition: 0.2s;
}

.header__menu-link:hover {
  color: var(--link-color-active);
}

.header__burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 36px;
  height: 36px;
}

.header__burger-elem {
  display: block;
  margin: 4px 0;
  height: 1px;
  background: #fff;
}

/* slider */
.slider {
  position: relative;
  margin-top: 65px;
}

.slider__slide {
  position: relative;
  height: calc(100vh - 65px) !important;
  max-height: 800px;
}

.slider__slide::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.3;
  z-index: -2;
}

.slide__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide__content {
  box-sizing: border-box;
  padding: 70px 40px;
  position: relative;
  width: 100%;
  max-width: 700px;
  min-height: 360px;
}

.slide__parag {
  margin: 0;
  line-height: 160%;
  font-size: 22px;
  color: #fff;
  letter-spacing: 0.5px;
}

.slide__author {
  display: inline-block;
  margin-top: 50px;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: 1px;
  font-size: 18px;
  color: var(--link-color);
}

.slide__background {
  background-color: var(--slider-block-color);
  opacity: 0.9;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


/* about */

.about::after {
  content: '';
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  width: 100%;
  max-width: 300px;
  height: 2px;
  border-radius: 4px;
  background: #000;
}


/* research */

.research__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.research__card {
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
  max-width: 825px;
  min-height: 500px;
}

.research__left {
  position: relative;
  flex-basis: 300px;
}

.research__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.research__right {
  box-sizing: border-box;
  padding: 30px 25px 30px 20px;
  flex-basis: 525px;
}

.research__title {
  font-size: 18px;
  margin: 0 0 25px 0;
  font-weight: 500;
  line-height: 150%;
}

.research__block {
  margin-top: 15px;
}

.research__span {
  font-size: 12px;
  color: var(--minor-text-color);
}

.research__span-colored {
  margin-right: 4px;
  color: var(--additional-color);
  font-weight: 300;
}

.research__parag {
  margin: 8px 0 0 0;
  line-height: 170%;
  font-size: 12px;
}

.research__links {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.research__link:first-child {
  margin-right: 10px;
}


.research__bottom {
  text-align: center;
  margin-top: 60px;
}


/* contributors */
.contributors__content {
  margin-top: 40px;
}

.contributors__member {
  color: #fff;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  max-width: 270px;
  height: 100%;
  min-height: 400px;
}

.contributors__member::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.contributors__member-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contributors__member-content {
  position: absolute;
  box-sizing: border-box;
  padding: 30px 20px;
  bottom: 0;
  left: 0;
}

.contributors__member-name {
  font-size: 18px;
  margin: 0 0 20px 0;
  font-weight: 500;
}

.contributors__member-position {
  font-size: 12px;
}

.contributors__member-position::after {
  content: "";
  display: block;
  margin-top: 7px;
  width: 60px;
  height: 1px;
  background-color: #fff;
}


/* footer */
.footer {
  padding: 30px 0;
  width: 100%;
  color: #fff;
  background: var(--footer-color);
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-around;
  margin-bottom: 70px;
}

.footer__element {
  text-align: center;
  flex-basis: 220px;
}

.footer__title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.footer__item {
  display: flex;
  flex-direction: column;
}

.footer__text {
  color: var(--minor-text-color);
  font-size: 14px;
  line-height: 160%;
}

.footer__rights {
  text-align: center;
}

.footer__rights-span {
  font-size: 14px;
  color: var(--minor-text-color);
}